.idea/hyperAdmit.iml
.idea/workspace.xml
.idea/scopes/scope_settings.xml
.idea/jsLibraryMappings.xml
.idea/libraries/Google_App_Engine_SDK.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
