<header id="header" class="sticky-header floating-header">

            <div id="header-wrap">

                <div class="leftmargin rightmargin">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <!--                         <a href="#home2" data-toggle="tab" class="standard-logo" data-dark-logo="static/images/HyperAdmit.png"><img src="static/images/HyperAdmit.png" alt="HyperAdmit Logo"></a> -->
                        <a href="#home2" data-toggle="tab" data-dark-logo="static/images/HyperAdmit.png"><img src="static/images/HyperAdmit.png" alt="Hyperadmit Logo"></a>
                    </div><!-- #logo end -->

                    <!-- Primary Navigation file:///C:/Users/Yura/Downloads/Download_on_the_App_Store_Badge_US-UK_135x40.svg
                    ============================================= -->
                    <nav id="primary-menu">

                        <ul>
                            <li><a href="#" data-toggle="tab"><div><i class="icon-call"></i>(212) 804-8902</div></a></li>
                        </ul>

                        <ul>
                            <a href="#home2" data-toggle="tab" class="button button-rounded button-primary"><span>Available Officers</span></a>
                        </ul>

                        <ul>
                            <a href="#myaccount" data-toggle="tab" class="button button-rounded button-teal"><span>My Appointments</span></a>
                        </ul>

                        <ul>
                            <a href="index.html" class="button button-rounded button-border"><span>Log Out</span></a>
                        </ul>

                    </nav><!-- #primary-menu end -->
                </div>
            </div>

        </header><!-- #header end -->

            <div class="content-wrap">

                <div class="container clearfix">

                    <div class="heading-block nobottomborder">

                        <h2>Browse Admissions Officers on HyperAdmit</h2><br>
                        <alert ng-repeat="alert in vm.alerts" type="{{ alert.type }}" close="vm.closeAlert($index)">{{ alert.msg }}</alert>
                    </div>
                </div>

                <div class="container clearfix">
                      <div class="btn-group" dropdown>
                          <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                            School Types <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="item in vm.dropOne"><button ng-click="vm.dropdownSelect(item, 0)">{{ item }}</button></li>
                          </ul>
                      </div>
                      <div class="btn-group" dropdown>
                          <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                            College Rank <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="item in vm.dropTwo"><button ng-click="vm.dropdownSelect(item, 1)">{{ item }}</button></li>
                          </ul>
                      </div>
                      <div class="btn-group" dropdown>
                          <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                            Admissions Counselor <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="item in vm.dropThree"><button ng-click="vm.dropdownSelect(item, 3)">{{ item }}</button></li>
                          </ul>
                      </div>
                </div>

                <div class="container clearfix">
                    <accordion close-others="oneAtATime">
                        <accordion-group ng-repeat="ad_off in vm.ad_offs" heading="{{ ad_off.alias }}">

                            <div>
                                <ul class="entry-meta clearfix">
                                    <li><span class="label label-warning">{{ ad_off.verified }}</span></li>
                                    <li><i class="icon-time"></i>{{ ad_off.hours_consulted }} consultations in last 30 days</li>
                                    <li><i class="icon-map-marker2"></i> United States</li>
                                    <li><i class="icon-user4"></i> {{ ad_off.school_type }}</li>
                                    <li><i class="icon-user4"></i> {{ ad_off.job_title }}</li>
                                    <li><i class="icon-user4"></i> {{ ad_off.last_active }}</li>
                                </ul>
                            </div>

                            <div>
                                Who am I?
                                <span>{{ ad_off.whoami }}</span>
                            </div>
                            <div class="line"></div>
                            <div>
                                How I Can Help
                                <span>{{ ad_off.howcanihelp }}</span>
                            </div>
                        </accordion-group>
                    </accordion>
                    
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">

                                <div class="testi-image">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><img src="static/images/others/1.jpg" alt="Customer Testimonails"></a>
                                </div>

                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Admin3432 <a>(3 <i class="icon-star"></i>)</a>
                                    <div>
                                        <ul class="entry-meta clearfix">
                                            <li><span class="label label-warning">Verified</span></li>
                                            <li><i class="icon-time"></i> 4 consultations in last 30 days</li>
                                            <li><i class="icon-map-marker2"></i> United States</li>
                                            <li><i class="icon-user4"></i> Undergraduate</li>
                                            <li><i class="icon-user4"></i> Assistant Director of Admissions</li>
                                            <li><i class="icon-user4"></i> Last login: 9/25/15</li>
                                            <li><a href="#test.html"><i class="icon-user4"></i>Last login: 9/25/15</a></li>
                                        </ul>
                                    </div>
                                </a>

                            </div>

                            <div id="collapseOne" class="panel-collapse collapse">
                              <div class="panel-body">

                                <div id="posts" class="events small-thumbs">
                                        <div class="entry-c">
                                            <div>
                                                <a href="#" class="btn btn-danger">Schedule Appointment</a> <a href="#" class="btn btn-default">Message</a>
                                                <a href="#" class="btn btn-default">View Reviews</a>
                                            </div>
                                            <div class="line"></div>
                                            <div>
                                                <h2>Who am I?</h2>
                                                <span>lorum ipsum</span>
                                            </div>
                                            <div class="line"></div>
                                            <div>
                                                <h2>How I Can Help</h2>
                                                <span>lorum ipsum</span>
                                            </div>
                                        </div>
                                </div>

                              </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">

                                <div class="testi-image">
                                        <a href="#collapseTwo"><img src="static/images/testimonials/2.jpg" alt="Customer Testimonails"></a>
                                </div>

                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Admin3432 <a>(3 <i class="icon-star"></i>)</a>
                                    <div>
                                        <ul class="entry-meta clearfix">
                                            <li><span class="label label-warning">Verified</span></li>
                                            <li><i class="icon-time"></i>4 consultations in last 30 days</li>
                                            <li><i class="icon-map-marker2"></i> United States</li>
                                            <li><i class="icon-user4"></i> Undergraduate</li>
                                            <li><i class="icon-user4"></i> Assistant Director of Admissions</li>
                                            <li><i class="icon-user4"></i> Last login: 9/25/15</li>
                                        </ul>
                                    </div>
                                </a>
                            </div>

                            <div id="collapseTwo" class="panel-collapse collapse">
                              <div class="panel-body">

                                <div id="posts" class="events small-thumbs">
                                        <div class="entry-c">
                                            <div>
                                                <a href="#" class="btn btn-danger">Schedule Appointment</a> <a href="#" class="btn btn-default">Message</a>
                                                <a href="#" class="btn btn-default">View Reviews</a>
                                            </div>
                                            <div class="line"></div>
                                            <div>
                                                <h2>Who am I?</h2>
                                                <span>lorum ipsum</span>
                                            </div>
                                            <div class="line"></div>
                                            <div>
                                                <h2>How I Can Help</h2>
                                                <span>lorum ipsum</span>
                                            </div>
                                        </div>
                                </div>

                              </div>
                            </div>
                        </div>

                    </div>
                    
                </div>
                <input type="text" ng-model="email"/><button type="button" ng-click="vm.addAdOff(email)">Add AO</button>
            </div>

