<div>

        <section id="slider" class="border slider-parallax full-screen dark" style="background: url(static/images/aboutipadsmaller2.png) center;">

            <div class="container clearfix">

                <div class="container clearfix">

                    <div class="heading-block center nobottomborder toppadding-lg topmargin-lg">
                        <h1>Welcome back.</h1>
                    </div>

                    <form class="landing-wide-form clearfix">
                        <div class="nobottommargin">
                            <div class="col_one_third nobottommargin">
                                <input type="email" ng-model="user.email" name="email" class="form-control input-lg not-dark" placeholder="Email Address">
                            </div>
                            <div class="col_one_third nobottommargin">
                                <input type="password" ng-model="user.password" name="password" class="form-control input-lg not-dark" placeholder="Password">
                            </div>
                            <div class="col_one_third col_last nobottommargin">
                                <button ng-click="login(user)" class="button button-large button-3d button-rounded nomargin">Login to view dashboard</button>
                            </div>
                        </div>
                    </form>

                    <div class="heading-block center topmargin-lg nobottomborder">
                        <span>© 2015 HyperAdmit</span>
                    </div>

                </div>
            </div>

        </section>

</div>