
    <div>

        <section>

            <div class="container clearfix">

                <div class="heading-block center topmargin nobottomborder">
                    <h1>Don't have an Account? Register Now.</h1>
                </div>

            </div>

            <div class="container clearfix">

                    <form id="register-form" name="register-form" class="form" method="post">

                        <div class="col_half">
                            <label for="register-form-firstname"></label>
                            <input type="text" ng-model="user.first_name" id="register-form-firstname" name="register-form-firstname" value="" placeholder="First Name" class="form-control input not-dark" />
                        </div>

                        <div class="col_half col_last">

                            <label for="register-form-lastname"></label>
                            <input type="text" ng-model="user.last_name" id="register-form-lastname" name="register-form-lastname" value="" placeholder="Last Name" class="form-control input not-dark" />
                        </div>

                        <div class="line"></div>

                        <div class="col_half">
                            <label for="register-form-email"></label>
                            <input type="text" ng-model="user.email" id="register-form-email" name="register-form-email" value="" placeholder="Email Address" class="form-control input not-dark" />
                        </div>

                        <div class="col_half">
                            <label for="register-form-phone"></label>
                            <input type="text" ng-model="user.phone" id="register-form-phone" name="register-form-phone" value="" placeholder="Phone" class="form-control input not-dark" />
                        </div>

                        <div class="line"></div>

                        <h2>I am applying to:</h2>

                        <div class="col_half">
                            <label for="register-form-undergraduate"></label>
                            <input type="checkbox" ng-model="user.undergraduate" id="register-form-undergradaute" name="register-form-email" value="undergraduate" placeholder="Email Address" class="form-control input not-dark" />Undergraduate School
                        </div>

                        <div class="col_half col_last">
                            <label for="register-form-phone"></label>
                            <input type="checkbox" ng-model="user.business" id="register-form-business" name="register-form-business" value="" placeholder="Phone" class="form-control input not-dark" />Business School
                        </div>

                        <div class="col_half">
                            <label for="register-form-law"></label>
                            <input type="checkbox" ng-model="user.law" id="register-form-law" name="register-form-law" value="" placeholder="Email Address" class="form-control input not-dark" />Law School
                        </div>

                        <div class="col_half col_last">
                            <label for="register-form-phone"></label>
                            <input type="checkbox" ng-model="user.medical" id="register-form-medical" name="register-form-medical" value="" placeholder="Phone" class="form-control input not-dark" />Medical School
                        </div>

                        <div class="center topmargin-sm bottommargin-sm">
                            <button ng-click="signup(user)" class="button button-large button button-rounded nomargin" id="register-form-submit" name="register-form-submit" value="register">Register</button>
                        </div>

                        <span align="center">By clicking here you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></span>

                    </form>

            </div>

        </section>

    </div>
